/*Header*/

body {
  background-color: #004F63;
  color: #FC8719;
}

hr {
  border-color: #FC8719;
}
/*Footer*/


/*Board*/
#board {
  margin-top: 10px;
}
.box {
  border: 1px solid #F0F0F0;
  height: 150px;
  background-color: #808080;
}
.box > h1 {
  text-align: center;
  color: #FC8719;
}
.display-table{
    display: table;
    table-layout: fixed;
}

.display-cell {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

/*Pills*/


/*Rules*/


/*Buttons*/
.btnpad {
  margin-top:15px;
}
.btn-default {
  background-color: #808080;
  color: #FC8719;
  border: 1px solid #F0F0F0;
  padding: 5px 50px 5px 50px;
}

@media screen and (max-width: 750px) {
  .container {
    margin: 0px 30px 0px 30px;
  }
}
@media screen and (max-width: 500px) {
  .box {
    height: 75px;
  }
}


